* {

    box-sizing: border-box;

    padding: 0;

    margin: none;

  }

  body {
    background-color: rgb(255, 255, 255);

    height: 100vh;
    
    width: 100vw;

    display: flex;

    justify-content: center;

    align-items: center;

  }

 

  section{

    display: flex;

    flex-direction:column;

  }

 

ul {
    height: 50vh;
    list-style: none;
    display: flex;
}

li {
    flex-grow:1;
    transition: 1s;
}

li:hover {
    flex-grow:15;
}

.panelen {

    height: 40vh;

    width:40vw;

    cursor: pointer;

    transition: 0.3s ease;

    border: 0;
    
    background-color: rgb(255, 255, 255);

}

h1, .rutger-h1 {

    font-family: 'Segoe UI', sans-serif;

    font-size: 1.5rem;

    font-family: "futura-pt", sans-serif;

    font-weight: 500;

    font-style: normal;

    letter-spacing: 4px;

}

 
#alisa:hover {

    background-color: rgb(139, 228, 255);

}

 

#rutger:hover {

    background-color: rgb(121, 126, 255);

}

 

#previen:hover {

    background-color: rgb(92, 255, 138);

}

 

.rutger-h1-2 {

    display: none;

}

 

#rutger:hover .rutger-h1 {

    display: none;

}

 

#rutger:hover .rutger-h1-2 {

    display: block;

}

 

.alisa-h1-2 {

    display: none;

}

 

#alisa:hover .alisa-h1 {

    display: none;

}

 

#alisa:hover .alisa-h1-2 {

    display: block;

}

 

.previen-h1-2 {

    display: none;

}

 

#previen:hover .previen-h1 {

    display: none;

}

 

#previen:hover .previen-h1-2 {

    display: block;

}