* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    background-color: rgb(87, 87, 87);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul {
    width:100%;
    list-style: none;
    display:flex;
    gap: 0.1rem;
}

li {
    flex-grow:1;
    transition: 0.5s;
}

li:hover {
    flex-grow:10;
}

button {
    height: 100vh;
    width:100%;
    font-family: 'Segoe UI', sans-serif;
    border: none;
    font-size: 0.75rem;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

#alisa:hover {
    background-color: rgb(139, 228, 255);
}

#rutger:hover {
    background-color: rgb(121, 126, 255);
}

#previen:hover {
    background-color: rgb(92, 255, 138);
}